@font-face {
    font-family: proxima-black;
    src: url(../fonts/proxima_ssv/Proxima\ Nova\ Black.otf);
  }

@font-face {
    font-family: proxima-thin;
    src: url(../fonts/proxima_ssv/Proxima\ Nova\ Thin.otf);
  }

  @font-face {
    font-family: proxima;
    src: url(../fonts/proxima_ssv/ProximaNova-Regular.otf);
}

@font-face {
    font-family: proxima-light;
    src: url(../fonts/proxima_ssv/Proxima\ Nova\ Alt\ Light.otf);
}

nav{
    background : hsl(272, 83%, 93%)!important;
}

.aboutsec{
    background : #e6fff9 !important;
}

.card-ti{
    font-family: proxima-thin;
    color : #fff;
}

.card1, .card2, .card3{
    background : rgb(243, 202, 69) !important;
    color : #fff;
}

h1{
    font-family: proxima !important;
}

p{
    font-family : proxima;
}

.services{
    background : #123449;
}
.services h2{
    font-family: proxima-light;
}


.form_box input, textarea{
    width : 300px;
}


.card{
    background : lightcyan;
}

@media screen and (max-width : 767px) {
    .card1, .card2, .card3{
        margin-top: 20px !important;
    }
    .ser_card1, .ser_card2, .ser_card3{
        margin-top : 20px;
    }
}

@media screen and (max-width : 400px) {
    .form_box input, textarea{
        width : 70%;
    }
}